hop 
<div >
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="http://artlemoine.com">Portfolio</a></li>
            <li><a href="http://artlemoine.com/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Tykayn's crossed_words</h3>
    </div>

    <div class="jumbotron">
        <h1>Crossed words</h1>
        <div>
            Créer des jeux de mots croisés et les résoudre en javascript.
        </div>
        <fieldset>
            <h2>Démo</h2>
                    <label>Largeur</label> <input size="2" max="50" ng-model='crossbox.width' ng-change="upChain()"/>
                    <label>Hauteur</label> <input  size="2" max="50" ng-model='crossbox.height'  ng-change="upChain()"/>
                    <label>côté de case</label> <input  size="2" max="50" min="30" ng-model='side'  ng-change="upCase()"/>
           <br/>
               <label>Chaîne de guidage du tableau</label>  <input ng-model='chain' ng-change="upChain()" ng-init="{{ chain }}"/>
               <br/>
                </fieldset>
        voilà la grille: ( cases )<br/>
        <button ng-click="highLight(1)">
            hightlight 1 
        </button>
        <div class="grille" style="width:{{ crossbox.width * (60) }}px" ng-init="upChain()">
            
            
            <div class="span6" ng-repeat="case in cases_exemple  | orderBy:'id':true  " >
                <div 
                        ng-class="{ highLight : case.light }"
                        ng-click=" highLight(case.word) "
                     ng-mouseenter="highLight(case.word)"
                     ng-mouseleave="highLight(case.word)"
                     data-row="{{ case.row }}"
                     data-col="{{ case.col }}"
                     data-word="{{ case.word }}"
                     width="{{ side }}px"
                     height="{{ side }}px"
                     
                     class="case word_{{ case.word }} {{ case.class }}"
                     >
                    {{ case.content }}
                    
                </div>
            </div>
            <hr/>
            
            
            <hr/>
        </div>
    </div>
<div class="span6"  >
               {{ cases_exemple }} 
            </div>

    <div class="footer">
        <h2>Left TODO</h2>
        -tableau de cases [{ row: 123 , col: 123 , content : "lettre" }] <br/>
        -grille reliée a un tableau de cases <br/>
        -style flottant des cases <br/>
        -taille de grille configurable<br/>
        -tooltip sur les cases d'instruction<br/>
        -édition de mot par fenêtre modale<br/>
        -surbrillance des mots par survol<br/>
        -enregistrement des chaines de guidage<br/>
    </div>
</div>