hop 
<div >
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="http://artlemoine.com">Portfolio</a></li>
            <li><a href="http://artlemoine.com/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Tykayn's crossed_words</h3>
    </div>

    <div class="text-left">
        <h1 class="">Crossed words</h1>
        <div>
            Créer des jeux de mots croisés et les résoudre en javascript.
        </div>
        <div class="well" contenteditable=true>
            {{mots}}
        </div>

                
    <hr/>
            <div class="grille"  style="width:100%;" ng-init="upChain()">

                <h2>édition:</h2>
                <button ng-click="Edition = !Edition">edit mode {{ Edition}}</button>


                <fieldset class="well" 
                          ng-show="Edition"
                          >

                    <label>Largeur</label> <input size="2" max="50" ng-model='crossbox.width' ng-change="upChain()"/>
                    <label>Hauteur</label> <input  size="2" max="50" ng-model='crossbox.height'  ng-change="upChain()"/>
                    <label>côté de case</label> <input  size="2" max="50" min="30" ng-model='side'  ng-change="upCase()"/>
                    Ajouter une énigme:
                    Sens:
                    <select size="6" ng-change="responseSize()" ng-model="editDirection" ng-init="editDirection = 'droite'" ng-options="dirs.descr for dirs in directions "></select>
                    <br/>
                    point de départ: 
                    vous pouvez cliquer dans la grille pour définir ce point.
                    <input size="3" type="number" ng-model="startId" ng-init="1" value="{{startId}}">

                    <br/>
                    énigme:<input ng-model="editEnigme" ng-init="editEnigme = 'le texte de l énigme'"><br/>
                    bonne réponse: ( taille max: {{ responseSize()}} )
                    <input ng-model="editResponse" ng-init="editResponse = 'la bonne réponse'" size="{{ responseSize()}}" maxlength="{{ responseSize()}}"><br/>
                    <button ng-click="validateWord(startId)">valider</button>
                    <button ng-click="editChain = ''">reset</button>
                    <br/>
                    {{ editWords.length}} énigmes
                    <br/>
                    <h2> édition des énigmes:</h2>
                    <div ng-show="Edition" class="span6" ng-repeat="word in editWords| orderBy:'id':number " >
                        <input type="number" ng-change="editToChain(editWords)" ng-model="word.start"  ng-maxlength="3"/>
                        <input  ng-change="editToChain(editWords)" ng-model="word.enigme"  />
                        <input  ng-change="editToChain(editWords)" ng-model="word.response" size="{{ crossbox.width}}"/>
                               <select ng-model="word.direction.descr" ng-options="c.descr for c in directions">
            

                        <input  ng-change="editToChain(editWords)" ng-model="word.direction.descr" autofocus />
                        <button ng-click="removeEnigme($index)">
                            x
                        </button>
                    </div>
                    {{ editWords}}
                </fieldset>
                <div ng-show="Edition">
                               

                    <h2 ng-click="startId = 12;">Rendu d'édition:</h2>

                    <div ng-init="editToChain(editWords)" class="well" 
                         style=" height: {{ (2+side) * crossbox.height}}px ; width : {{ (5+side) * (crossbox.width) }}px"
                         >
                        <div class="" ng-repeat="case in cases_exemple | orderBy:'id':number " >
                            <div 
                                ng-class="{ highLight : case.light }"
                                ng-click="hlStart(case.id);"
                                data-id="{{ case.id}}"

                                data-word="{{ case.word}}"
                                width="{{ side}}px"
                                height="{{ side}}px"

                                class="case word_{{ case.word}} {{ case.class}}"
                                >

                                {{ case.content}}

                            </div>
                        </div>
                                            
                        

                        <!--                    <hr />-->
                        <!--                    cases vides:
                                            {{ cases_vides }}-->
                    </div>
                    <form>
                        <fieldset class="well">
                            <h2>Enigmes:</h2>
                            <ul ng-show="Edition" class="span12"  >
                                <li class="row-fluid unstyled" ng-repeat="word in editWords| orderBy:'id':number ">
                                    <div class="span6">
                                        {{$index}} ) {{word.enigme}}
                                    </div>
                                    <div class="span6">
                                        <input class="enigme" ng-change="editToChain(editWords)" ng-model="word.UserResponse" size="{{ word.response.length}}"  maxlength="{{ word.response.length}}"/> ({{ word.response.length}} lettres)
                                    </div>


                                </li>
                            </ul>

                        </fieldset>
                    </form>
                    
                    <div class="well">
                        cases_edit 
                                            {{ cases_edit}}
                    </div>
                </div>






                <hr/>
                <div class="row-fluid">
                    <div class="span12">


                        <div class="span6">
                            <section class="well">
                                <h2>énigmes:</h2>
                                <button class="btn btn-primary" ng-click="fill()">
                                    fill
                                </button>
                                <div class="alert alert-success" ng-show="won">
                                    Woot! vous avez gagné!
                                </div>
                                <!--mots : {{mots}}-->
                                <!--                    responsesUser : {{responsesUser}}-->
                                <div class="row-fluid "
                                     ng-repeat="enigme in mots| orderBy:'id':number "
                                     ng-class="{ highLight : enigme.ok }">
                                    <div class="span5">
                                        <label for="enigme_{{ enigme.id }}">
                                            {{ enigme.id }} )    {{ enigme.enigme }} :
                                        </label>
                                    </div>  
                                    <div class="span7">
                                        <input 
                                            id="enigme_{{ enigme.id}}" 
                                            class="input input-lg" 
                                            maxlength="{{ enigme.response.length}}"
                                            size="{{ enigme.response.length}}" 
                                            ng-model="enigme.input"
                                            ng-change="compare();highLightWord(enigme.id)"
                                            ng-blur=" downLightWord(enigme.id)"
                                            ng-focus="highLightWord(enigme.id)"
                                            >
                                        ( {{ enigme.response.length}} lettres)
                                    </div>
                                </div>
                            </section>
                            <section>
                                <!--{{ mots }}-->
                            </section>
                        </div>
                        <div class="span6">
                            <section class="well-sm well">
                                <h2>Grilleeeeeeeeeeee:</h2>
                                <div class=""   
                                     style=" height: {{ side * crossbox.height}}px ; width : {{ side * (crossbox.width) }}px"
                                     >


                                    <div class="" ng-repeat="case in cases_exemple| orderBy:'id':number "
                                         ng-init="editToChain(editWords)" >

                                        <div 
                                            ng-class="{ highLight : case.light , superposition : case.superposition }"
                                            ng-click=" highLightWord(case.word); focusWord(case.word); Edition = true"
                                            ng-mouseenter="highLightWord(case.word)"
                                            ng-mouseleave="highLightWord(case.word)"
                                            data-row="{{ case.row }}"
                                            data-col="{{ case.col }}"
                                            data-word="{{ case.word }}"
                                            width="{{ side }}px"
                                            height="{{ side }}px"

                                            class="case word_{{ case.word}} {{ case.class}}"
                                            >
                                            {{ case.content}}

                                        </div>
                                    </div>
                                </div>
                                
                               
                            </section>
                        </div>
                    </div>
                </div>     
                <hr/>

                <input ng-model="num" />
                <button ng-click="highLight(num)" ng-init="1">
                    hightlight {{num}}
                </button>





                <hr/>
            </div>
    </div>

    <h2>Démo</h2>

    <br/>
    <label>Chaîne de guidage du tableau</label>  <input ng-model='chain' ng-change="upChain()" ng-init="{{ chain}}"/>
    <br/>
</fieldset>
voilà la grille: ( cases )<br/>

<div yng-show="Edition" >
    Edit this word:
    <input ng-model="editword"/>
    <button>ok</button>

</div>
<div class="footer">
    <h2>Left TODO</h2>
    édition:<br/>

    -prob avec les ng-select.<br/>
    -pouvoir éditer une énigme dans la liste avec un click dessus.<br/>
    -pouvoir supprimer une énigme dans la liste avec un click dessus.<br/>
    -pouvoir enregistrer une grille d'énigmes.<br/>
    -auto sélection de la direction droite<br/>
    x-limiter la taille de l'input de réponse selon sa distance au bord de grille<br/>
    -quand on clique sur un mot, montrer un champ pour l'éditer<br/>
    -tooltip sur les cases d'instruction<br/>
    -édition de mot par fenêtre modale<br/>
    -enregistrement des chaines de guidage<br/>
    x-editToChain() ne rend pas le tableau bien quand on déplace le start d'une réponse.
    x-direction gauche de mot<br/>
    x-direction bas de mot<br/>
    x-direction haut de mot<br/>
    xdirection droite de mot<br/>
    x-surbrillance des mots par survol<br/>
    x-tableau de cases [{ row: 123 , col: 123 , content : "lettre" }] <br/>
    x-grille reliée a un tableau de cases <br/>
    x-style flottant des cases <br/>
    x-taille de grille configurable<br/>
</div>
</div>