hop 
<div >
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="http://artlemoine.com">Portfolio</a></li>
            <li><a href="http://artlemoine.com/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Tykayn's crossed_words</h3>
    </div>

    <div class="text-left">
        <h1 class="">Crossed words</h1>
        <div>
            Créer des jeux de mots croisés et les résoudre en javascript.
        </div>
        <fieldset>


            <div class="grille" style="width:{{ crossbox.width * (60)}}px" ng-init="upChain()">

                <h2>édition:</h2>
                <button ng-click="Edition = !Edition">edit mode {{ Edition}}</button>


                <fieldset class="well" 
                          ng-show="Edition"
                          >

                    <label>Largeur</label> <input size="2" max="50" ng-model='crossbox.width' ng-change="upChain()"/>
                    <label>Hauteur</label> <input  size="2" max="50" ng-model='crossbox.height'  ng-change="upChain()"/>
                    <label>côté de case</label> <input  size="2" max="50" min="30" ng-model='side'  ng-change="upCase()"/>
                    Ajouter une énigme:
                    Sens:
                    <select size="6" ng-change="responseSize()" ng-model="editDirection" ng-init="editDirection = 'droite'" ng-options="dirs.descr for dirs in directions "></select>
                    <br/>
                    point de départ: 
                    vous pouvez cliquer dans la grille pour définir ce point.
                    <input size="3" type="number" ng-model="startId" ng-init="1" value="{{startId}}">

                    <br/>
                    énigme:<input ng-model="editEnigme" ng-init="editEnigme = 'le texte de l énigme'"><br/>
                    bonne réponse: ( taille max: {{ responseSize()}} )
                    <input ng-model="editResponse" ng-init="editResponse = 'la bonne réponse'" size="{{ responseSize()}}"><br/>
                    <button ng-click="validateWord(startId)">valider</button>
                    <button ng-click="editChain = ''">reset</button>
                    <br/>
                    {{ editWords.length}} énigmes
                    <br/>
                    <h2> édition des énigmes:</h2>
                    <div ng-show="Edition" class="span6" ng-repeat="word in editWords| orderBy:'id':number " >
                        <input type="number" ng-change="editToChain(editWords)" ng-model="word.start"  ng-maxlength="3"/>
                        <input  ng-change="editToChain(editWords)" ng-model="word.enigme"  />
                        <input  ng-change="editToChain(editWords)" ng-model="word.response" size="{{ crossbox.width}}"/>
                        <select size="6" ng-change="responseSize()" ng-model="word.direction.descr" ng-options="dirs.descr for dirs in directions "></select>

                        <input  ng-change="editToChain(editWords)" ng-model="word.direction.descr"  />
                        <button ng-click="removeEnigme($index)">
                            x
                        </button>
                    </div>
                    {{ editWords}}
                </fieldset>
                <div ng-show="Edition">


                    <h2 ng-click="startId = 12;">Rendu d'édition:</h2>

                    <div ng-init="editToChain(editWords)" class="well" height="{{ side * crossbox.height}}px" width="{{ side * crossbox.width}}px" >
                        <div class="span6 " ng-repeat="case in cases_edit| orderBy:'id':number " >
                            <div 
                                ng-class="{ highLight : case.light }"
                                ng-click="hlStart(case.id);"
                                data-id="{{ case.id}}"
                                data-row="{{ getRow(case.id)}}"
                                data-col="{{ getCol(case.id)}}"
                                data-word="{{ case.word}}"
                                width="{{ side}}px"
                                height="{{ side}}px"

                                class="case word_{{ case.word}} {{ case.class}}"
                                >

                                {{ case.content}}

                            </div>
                        </div>
                        <!--                    cases_edit 
                                            {{ cases_edit}}-->

                        <!--                    <hr />-->
                        <!--                    cases vides:
                                            {{ cases_vides }}-->
                    </div>
                    <form>
                        <fieldset class="well">
                            <h2>Enigmes:</h2>
                            <ul ng-show="Edition" class="span12"  >
                                <li class="row-fluid unstyled" ng-repeat="word in editWords| orderBy:'id':number ">
                                    <div class="span6">
                                        {{$index}} ) {{word.enigme}}
                                    </div>
                                    <div class="span6">
                                        <input  ng-change="editToChain(editWords)" ng-model="word.UserResponse" size="{{ word.response.length}}"/> ({{ word.response.length}} lettres)
                                    </div>


                                </li>
                            </ul>

                        </fieldset>
                    </form>
                </div>





















                <hr/>
                <section class="well">
                    <h2>énigmes:</h2>
                    <div class="alert alert-success" ng-show="won">
                        Woot! vous avez gagné!
                    </div>
                    <!--mots : {{mots}}-->
                    <!--                    responsesUser : {{responsesUser}}-->
                    <div class="span12" ng-repeat="enigme in mots| orderBy:'id':number " ng-class="{ highLight : enigme.ok }">
                        <label for="enigme_{{ enigme.id}}">
                            {{ enigme.enigme}} :
                        </label>

                        {{ enigme.id}} ) 
                        <input 
                            d="enigme_{{ enigme.id}}" 
                            class="input input-lg" 
                            maxlength="{{ enigme.response.length}}"
                            size="{{ enigme.response.length}}" 
                            ng-model="enigme.input"
                            ng-change="compare() ; highLightWord(enigme.id)"
                            ng-focus="highLightWord(enigme.id)"
                            >
                        ( {{ enigme.response.length}} lettres)
                    </div>



                </section>
                <input ng-model="num" />
                <button ng-click="highLight(num)" ng-init="1">
                    hightlight {{num}}
                </button>
                <section class="well-sm well">


                    <h2>Grille:</h2>

                    <div class="well" height="{{ side * crossbox.height}}px" width="{{ side * crossbox.width}}px" >
                        <div class="span6 " ng-repeat="case in cases_exemple| orderBy:'id':number " >

                            <div 
                                ng-class="{ highLight : case.light }"
                                ng-click=" highLight(case.word); Edition = true"
                                ng-mouseenter="highLight(case.word)"
                                ng-mouseleave="highLight(case.word)"
                                data-row="{{ case.row}}"
                                data-col="{{ case.col}}"
                                data-word="{{ case.word}}"
                                width="{{ side}}px"
                                height="{{ side}}px"

                                class="case word_{{ case.word}} {{ case.class}}"
                                >
                                {{ case.content}}

                            </div>
                        </div>

                    </div>
                </section>

                <hr/>


                <hr/>
            </div>
    </div>

    <h2>Démo</h2>

    <br/>
    <label>Chaîne de guidage du tableau</label>  <input ng-model='chain' ng-change="upChain()" ng-init="{{ chain}}"/>
    <br/>
</fieldset>
voilà la grille: ( cases )<br/>

<div yng-show="Edition" >
    Edit this word:
    <input ng-model="editword"/>
    <button>ok</button>

</div>
<div class="footer">
    <h2>Left TODO</h2>
    édition:<br/>

    -pouvoir éditer une énigme dans la liste avec un click dessus.<br/>
    -pouvoir supprimer une énigme dans la liste avec un click dessus.<br/>
    -pouvoir enregistrer une grille d'énigmes.<br/>
    -auto sélection de la direction droite<br/>
    x-limiter la taille de l'input de réponse selon sa distance au bord de grille<br/>
    -quand on clique sur un mot, montrer un champ pour l'éditer<br/>
    -tooltip sur les cases d'instruction<br/>
    -édition de mot par fenêtre modale<br/>
    -enregistrement des chaines de guidage<br/>
    x-editToChain() ne rend pas le tableau bien quand on déplace le start d'une réponse.
    x-direction gauche de mot<br/>
    x-direction bas de mot<br/>
    x-direction haut de mot<br/>
    xdirection droite de mot<br/>
    x-surbrillance des mots par survol<br/>
    x-tableau de cases [{ row: 123 , col: 123 , content : "lettre" }] <br/>
    x-grille reliée a un tableau de cases <br/>
    x-style flottant des cases <br/>
    x-taille de grille configurable<br/>
</div>
</div>